xterm*faceName: Iosevka
xterm*faceSize: 13
xterm*renderFont: true
xterm*termName: xterm-256color

! Prescone colours

#define C_current_line		#282a2e
#define C_selection			#373b41
#define C_comment			#969896

#define C_red 				#D63950
#define C_orange			#EF8F4F
#define C_yellow			#FED766
#define C_green				#287B47
#define C_aqua				#33DDDD
#define C_blue				#5F49FF
#define C_purple			#BB33FF
#define C_white             #F6F4F2
#define C_black             #151515

#define C_light_red 		#DC566A
#define C_light_orange		#F3AC7C
#define C_light_yellow		#FECB34
#define C_light_green		#4DC679
#define C_light_aqua		#1EAEAE
#define C_light_blue		#8170FF
#define C_light_purple		#CF70FF
#define C_light_white       #F7EBEE
#define C_light_black       #707070

xterm*foreground:   C_black
xterm*background:   C_white
xterm*cursorColor:  #0C4646

! Black / Grey
xterm*color0:       C_black
xterm*color8:       C_light_black

! Red / Bright Red
xterm*color1:       C_red
xterm*color9:       C_light_red

! Green + Bright Green
xterm*color2:       C_green
xterm*color10:      C_light_green

! Yellow (Orange) + Bright Yellow (Yellow)
xterm*color3:       C_orange
xterm*color11:      C_yellow

! Blue + Bright Blue
xterm*color4:       C_blue
xterm*color12:      C_light_blue

! Magenta (Purple) + Bright Magenta
xterm*color5:       C_purple
xterm*color13:      C_light_purple

! Cyan (Aqua) + Bright Cyan
xterm*color6:       C_aqua
xterm*color14:      C_light_aqua

! Light Grey (Selection) + White (Current Line)
xterm*color7:       C_white
xterm*color15:      C_light_white




! Font scaling shortcuts
xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)


!! URxvt Appearance
URxvt.font: xft:IBM Plex Mono:size=13, xft:Noto Mono:size=13, xft:Noto Color Emoji:size=13
URxvt.boldFont: xft:IBM Plex Mono:style=Bold:size=13
URxvt.italicFont: xft:IBM Plex Mono:style=Italic:size=13
URxvt.boldItalicfont: xft:IBM Plex Mono:style=Bold Italic:size=13
URxvt.letterSpace: 0
URxvt.lineSpace: 0
!URxvt.geometry: 92x24
URxvt.internalBorder: 6
URxvt.externalBorder: 0
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

! My own Colours

#define Coo00   #101010 
#define Coo01   #5F0202
#define Coo02   #004F00 
#define Coo03   #A32600
#define Coo04   #000033
#define Coo05   #1F0033
#define Coo06   #00343F
#define Coo07   #505050
#define Coo08   #202020
#define Coo09   #9D0202
#define Coo10   #007300
#define Coo11   #B34600
#define Coo12   #000073
#define Coo13   #3F0053
#define Coo14   #00545F
#define Coo15   #707070


urxvt.foreground:#101010
urxvt.background:#FFEAEA
urxvt.cursorColor:#DD66AA

! Black
urxvt.color0:       Coo00
urxvt.color8:       Coo08

! Red
urxvt.color1:       Coo01
urxvt.color9:       Coo09

! Green
urxvt.color2:       Coo02
urxvt.color10:      Coo10

! Yellow
urxvt.color3:       Coo03
urxvt.color11:      Coo11

! Blue
urxvt.color4:       Coo04
urxvt.color12:      Coo12

! Magenta
urxvt.color5:       Coo05
urxvt.color13:      Coo13

! Cyan
urxvt.color6:       Coo06
urxvt.color14:      Coo14

! White
urxvt.color7:       Coo07
urxvt.color15:      Coo15

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
urxvt.color16:      Coo09
urxvt.color17:      Coo15
urxvt.color18:      Coo01
urxvt.color19:      Coo02
urxvt.color20:      Coo04
urxvt.color21:      Coo06

