xterm*faceName: Iosevka
xterm*faceSize: 14
xterm*renderFont: true
xterm*termName: xterm-256color
!TomorrowNight
#define t_background        #110700
#define t_current_line      #282a2e
#define t_selection       #373b41
#define t_foreground       #c5c8c6
#define t_comment       #969896
#define t_red        #cc6666
#define t_orange       #de935f
#define t_yellow         #f0c674
#define t_green          #b5bd68
#define t_aqua          #8abeb7
#define t_blue          #81a2be
#define t_purple         #b294bb


xterm*foreground:   t_foreground
xterm*background:   t_background
xterm*cursorColor:  #aeafad

! Black / Grey
xterm*color0:       #000000
xterm*color8:       #666666

! Red / Bright Red
xterm*color1:       t_red
xterm*color9:       #FF3334

! Green + Bright Green
xterm*color2:       t_green
xterm*color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
xterm*color3:       t_orange
xterm*color11:      t_yellow

! Blue + Bright Blue
xterm*color4:       t_blue
xterm*color12:      t_blue

! Magenta (Purple) + Bright Magenta
xterm*color5:       t_purple
xterm*color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
xterm*color6:       t_aqua
xterm*color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
xterm*color7:       t_selection
xterm*color15:      t_current_line


! Font scaling shortcuts
xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)


!! URxvt Appearance
URxvt.font: xft:Iosevka Etoile:size=12, xft:Noto Mono:size=12
URxvt.boldFont: xft:Iosevka Etoile:size=12
URxvt.italicFont: xft:Iosevka Etoile:size=12
URxvt.boldItalicfont: xft:Iosevka Etoile:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
!URxvt.geometry: 92x24
URxvt.internalBorder: 6
URxvt.externalBorder: 0
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: true

! Typewriter light
! Scheme: Typewriter (https://github.com/logico-dev)
! Based on: Alexandre Gavioli (https://github.com/Alexx2/)

#define base00 #E7E7EE
#define base01 #e3e3e3
#define base02 #00BAFF
#define base03 #ababab
#define base04 #525252
#define base05 #262626
#define base06 #252525
#define base07 #101010
#define base08 #7c7c7c
#define base09 #999999
#define base0A #a0a0a0
#define base0B #8e8e8e
#define base0C #868686
#define base0D #686868
#define base0E #747474
#define base0F #5e5e5e
#define base0G #E41D91
#define base0H #009900

urxvt.foreground:   base05
#ifdef background_opacity
urxvt.background:   [background_opacity]base00
#else
urxvt.background:   base00
#endif
urxvt.cursorColor:  base02

! Black
urxvt.color0:       base00
urxvt.color8:       base0A

! Red
urxvt.color1:       base08
urxvt.color9:       base08

! Green
urxvt.color2:       base05
urxvt.color10:      base0B

! Yellow
urxvt.color3:       base0A
urxvt.color11:      base0G

! Blue
urxvt.color4:       base0D
urxvt.color12:      base0D

! Magenta
urxvt.color5:       base0E
urxvt.color13:      base0H

! Cyan
urxvt.color6:       base0C
urxvt.color14:      base02

! White
urxvt.color7:       base05
urxvt.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
urxvt.color16:      base09
urxvt.color17:      base0F
urxvt.color18:      base01
urxvt.color19:      base02
urxvt.color20:      base04
urxvt.color21:      base06

